<h1>Pick a Challenge</h1>
<div class="row">
  <form class="col s12" action="/games" method='post'>
    <div class="row" style="text-align: center">
      <div class="input-field  s4 class">
        <button class="btn waves-effect waves-light" type="submit">
          Spelling
        </button>
      </div>
	  </div>
	  <div class="row" style="text-align: center">
      <div class="input-field  s4 class">
        <button class="btn waves-effect waves-light" type="submit">
          Math
        </button>
      </div>
    </div>
  </form>
</div>
