<div>
  	<main>
		<canvas id="gameCanvas" >

		</canvas>

		<div id="fund_card"></div>

		<div id="game_status">
			<h3>Put 5 apples in the basket!</h3>
			<p id="score">Score: <strong>4</strong></p>
			<h1 id="win_msg"></h1>
		</div>
	</main>
</div>


