
	

	<!-- <div id="fund_card"></div>

	<div id="game_status">
		<h3 id="apples_in_basket">Put 5 apples in the basket!</h3>
		<p id="score">Score: <strong>4</strong></p>
		<h1 id="win_msg"></h1>
	</div> -->



<div class="game-page">
  	<div id="left-side">
    	<div id="fund_card"></div>

    	<div id="game_status">
			<h4 id="apples_in_basket">Put 5 apples in the basket!</h4>
			<p id="score">Score: <strong>4</strong></p>
			<h1 id="win_msg"></h1>
    	</div>
	</div>

 	<div>
		<canvas id="gameCanvas" width="650" height="455" style="background: url('../images/backImage.jpg')"></canvas>
	</div>

</div>


