<h1>Payment Info</h1>

<div class="row">
  <form id='payment' class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="card-number" type="text" class="validate" value="4895142232120006">
        <label class="active" for="card-number">Card Number</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="card-expiration" type="text" class="validate" value="02/20">
        <label class="active" for="card-expiration">Card Expiration</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="name-on-card" type="text" class="validate" value="Shawn Tuttle">
        <label class="active" for="name-on-card">Name on card</label>
      </div>
    </div>
    <div id="center" class="input-field center s4">
      <button class="btn waves-effect waves-light" type="button">
        Gyft it Now!
      </button>
    </div>
  </form>
</div>
