	<div class="container">
		<h1>Success!<br />GameGyft has been sent!</h1>
		Payment has been approved and your gyft of a game and $10 for Josie has been sent.
		<p class="sidenote"><em>Goto to the <a href="../games/1">game page</a> that Josie receives.</em></p>
	</div>
