<!-- Footer goes here -->
<footer class="footer">
	<small>
		The GameGyft App</a>
    	by <a href="https://github.com/AmandaWouldGo/gamegyft">Team GameGyft</a> |
    	<a href="#">About</a> |
    	<a href="#">Contact</a>
	</small>
</footer>