<!-- Footer goes here -->
<footer class="footer">
	<small>
		The GameGyft App by 
		<a href="https://github.com/ShawnTe/gamegyft-v2">Team GameGyft</a> |
    	<a href="https://github.com/ShawnTe/gamegyft-v2/blob/master/README.md">Contact</a>
	</small>
</footer>