<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
    	<a id="logo" href="#">GameGyft</a>
		<nav class="nav navbar-nav navbar-right">
				<li><a href="#">Logout</a></li> |
				<li><a href="#">Help</a></li>
		</nav>
  	</div>
</header> 
