<header class="navbar navbar-fixed-top navbar-inverse">
	<a id="logo" href="#">GameGyft</a>
	<div class="nav navbar-nav navbar-right" id="menu-items">
		<li><a href="#">Logout</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Help</a></li>
	</div>
</header> 
