<h1>Send GameGyft To</h1>
	<div class="row" id="name-age">
	    <form class="col s12">
	      <div class="row">
	        <div class="input-field col s12">
	          <input id="first_name" type="text" class="validate" value="Josie" >
	          <label class="active" for="first_name">Name</label>
	        </div>
			  </div>
		    <div class="row">
	        <div class="input-field active col s12">
	          <input id="age" type="text" class="validate" value="6">
	          <label class="active" for="age">Age</label>
	        </div>
	      </div>
		    <div class="input-field  s4 center">
  			  <button class="btn waves-effect waves-light" type="button" id="first-button"
  					 name="action">
  				  Continue
  			  </button>
			  </div>
	    </form>
	  </div>
    <!-- onclick="window.location.href = 'challenge-type.html'" -->

    <div class="row" id="amount-note-email">
      <form class="col s12" action="/gyfts" method='post'>
        <div class="row">
          <div class="input-field col s12">
            <input id="amount" type="text" class="validate" value="$10">
            <label class="active" for="amount">Amount</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"
              placeholder="This will show after the challenge is completed.">Happy Birthday, Josie! Have fun getting what you want with this $10. XOXO, Auntie Shawn</textarea>
              <label class="active" for="textarea1">Message to Josie:</label>
          </div>
        </div>
        <div class="input-field  s4 center">
          <button class="btn waves-effect waves-light" type="submit">
            Continue
          </button>
        </div>
      </form>
    </div>
