<div class="container">
  <h1>Congrats! you've unlocked your GameGyft!</h1>
  <div id="birthday">
    Happy Birthday, Josie! Have fun getting what you want<br>with this $10. XOXO, Auntie Shawn
  </div>
  <div class="center-gyft">
    <img class="center" id="visacard" src="/images/visagyftcard.png">
  </div>
</div>
